In [ ]:
#Trabalhando com bigdata em python é importante deixar os códigos muito bem separadinhos nas células

In [4]:
valor01 = input('Digite um número inteiro: ')
valor02 = input('Digite outro número inteiro: ')

In [5]:
print(valor01)
print(valor02)

print(valor01 == valor02)
print(valor01 > valor02)
print(valor01 < valor02)
print(valor01 >= valor02)
print(valor01 <= valor02)

18
16
False
True
False
True
False

In [8]:
#varíaveis não devem iniciar com a letra maiúscula. Funções, listas e objetos siim

L = []
L = list()

dias = [3, 1, 10]
dias[0]

3

In [9]:
dias[1]

1

In [10]:
dias[2]

10

In [11]:
z = [3,8,9]
#modificando a lista
z[0]=7
z

[7, 8, 9]

In [12]:
a=[81,82,83]

In [15]:
b=a[:]  #":" é um recurso para clonar, ocupam lugares diferentes na memória

In [16]:
print(a==b)
print(a is b)

True
False

In [17]:
b[0] = 5

In [18]:
print(a)
print(b)

[81, 82, 83]
[5, 82, 83]

In [19]:
uma_lista = ['a', 'b', 'c','d','e','f']

In [20]:
print(uma_lista[1:3])  
#usando o ":" dessa forma cria um intervalo entra a lista dada. indice onde começa:indice onde termina 
#Porem pega até o indice anterior ao limite dado

['b', 'c']

In [21]:
print(uma_lista[:4]) #dessa forma pega do indice zero até o limite dado (o ultimo valor é o do indice anterior ao do limite dado)

['a', 'b', 'c', 'd']

In [22]:
print(uma_lista[3:]) #acontagem começa no indice dado antes do ":" e vai até o fim

['d', 'e', 'f']

In [23]:
print(uma_lista[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [37]:
minhaLista = [76, 92.3, "oi", True, 4, 76]
print(minhaLista)

[76, 92.3, 'oi', True, 4, 76]

In [47]:
#adicionar indices no final da lista (pitomba e 76)
minhaLista[6:] = ["pitomba"]
minhaLista[7:] = [76]

print(minhaLista)

[99, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [38]:
minhaLista[3]="Cibele"
print(minhaLista)

[76, 92.3, 'oi', 'Cibele', 4, 76]

In [44]:
#adicionar indices no início da lista (99)
minhaLista[0] = 99
print(minhaLista)

[99, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [42]:
minhaLista[2]

'oi'

In [28]:
#Remover indice da lista
print(minhaLista[:3]+minhaLista[4:])

[76, 92.3, 'oi', 4, 76]

In [48]:
#tuplas
tupla_nova = 10, 20, 30

In [49]:
tupla_nova

(10, 20, 30)

In [50]:
tupla_vazia = ()
tupla_vazia

()

In [51]:
#dicionario

dicio = {'chave': 'valor'}
print(type(dicio))

<class 'dict'>

In [52]:
d = {'laranjas': 15, 'bananas': 35, 'siriguelas': 12}

In [53]:
d['bananas'] #sintaxe para chamar o indice pela chave definida no dicionario

35

In [54]:
d['pitomba'] = 20  #adicionando uma nova dupla no dicionario

In [55]:
len(d)

4

In [58]:
'pitomba' in d

True

In [59]:
'pears' in d

False

In [60]:
#Métodos

del d['laranjas']   #método para apagar

In [61]:
'laranjas' in d

False

In [62]:
frutas = ["pinha", "oiti coró", "jaca", "tamarindo"]

In [63]:
print([1,2] + [3,4])  #concatenação

[1, 2, 3, 4]

In [64]:
print(frutas + [6,7,8,9])

['pinha', 'oiti coró', 'jaca', 'tamarindo', 6, 7, 8, 9]

In [65]:
print([0]*4)  #criando uma lista que tem quatro vezes o mesmo valor

[0, 0, 0, 0]

In [66]:
print([1, 2, ["oi", "tchau"]]*2)

[1, 2, ['oi', 'tchau'], 1, 2, ['oi', 'tchau']]